@keyframes flashGlow {
  0%   { background-color: #d0e3ff; }   /* Soft baby blue */
  25%  { background-color: #90c9ff; }   /* Lighter azure */
  50%  { background-color: #5fa8f5; }   /* Bright blue highlight */
  75%  { background-color: #90c9ff; }
  100% { background-color: inherit; }
}

.flash-row {
  animation: flashGlow 13s ease-in-out;
  border-left: 4px solid #251df4; /* Deep blue accent-- */
  transition: background-color 0.6s ease-in-out;
}


.modal-category-mixing {
  background-color: #d1ecf1; /* Light Teal */
  color: #0c5460;
}

.modal-category-spraying {
  background-color: #fff3cd; /* Light Amber */
  color: #856404;
}

.modal-category-remix {
  background-color: #fde2ce; /* Warm Orange */
  color: #7a3e00;
}

.modal-category-detailing {
  background-color: #e9d8fd; /* Light Purple */
  color: #4b0082;
}

.modal-category-default {
  background-color: #f8f9fa; /* Soft Gray */
  color: #212529;
}
